{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>कृषि बिकास बैंक कर्मचारी संघ नेपाल</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Colors CSS -->
    
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block customcss %}{% endblock %}

</head>
<body class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <div class="topbar text-center hidden-xs">
        <p>" बिशुद्ध पेशागत हकहितका लागि कर्मचारी एकता , <span>पारदर्शी र गतिशिल ब्यवस्थापन आजकाे आवस्यकता "</span></p>
    </div>

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logos/logo_union.png' %}" alt="image"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a  href="{% url 'home' %}" class="{% block home_active %}{% endblock %}">होमपेज</a></li>
                       <!-- <li><a  href="#about">नेतृत्व</a></li>-->
                        <li><a  href="#about">इतिहास</a></li>
                        <li><a  href="#event">कार्यक्रम</a></li>
						<li><a  href="#gallery">फोटोहरु</a></li>
                        <!--<li><a  href="{% url 'video_list' %}" class="{% block video_list %}{% endblock %}">भिडियो</a></li>-->
                        <!--<li><a  href="{% url 'blog_list' %}" class="{% block blog_active %}{% endblock %}">लेख</a></li>-->
                        <li><a  href="#donate">सम्पर्क</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block bodysection %}{% endblock %}
    <div id="donate" data-scroll-index="7" class="section db">
    <div class="container">
        <div class="section-title text-center">
            <h3>सुझाव तथा सम्पर्क</h3>
        </div><!-- end title -->

        <style>
            /* Custom CSS to increase the spacing between columns */
            .custom-row-spacing > [class*="col-"] {
                padding-right: 50px; /* Increase space on the right of the left column */
                padding-left: 50px;  /* Increase space on the left of the right column */
            }
            @media (max-width: 767px) {
                /* Adjust for smaller screens to avoid excessive padding */
                .custom-row-spacing > [class*="col-"] {
                    padding-right: 15px;
                    padding-left: 15px;
                }
            }
        </style>

        <div class="row custom-row-spacing">
            <div class="col-md-6">
                <div class="donate-form-wrapper">
                    <p class="lead">तपाईंको सुझावहरू स्वागत छ। कृपया तलको फारम भर्नुहोस्।</p>
                    <form class="donate-form" method="post" action="{% url 'contact' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email_id" placeholder="Email Address" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="mobile_number" placeholder="Phone Number" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="message_subject" placeholder="Message Subject" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="feedback" rows="5" placeholder="Additional Message (Optional)"></textarea>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-light btn-radius btn-brd grd1">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="donate-info">
                    <h3>सम्पर्क</h3>
                    <ul class="contact-list">
                        <li><strong>कृषि बिकास बैंक कर्मचारी संघ नेपाल</strong></li>
                        <li><strong>ठेगाना: </strong> रामशाहपथ, काठमाडौं, नेपाल</li>
                        <li><strong>सम्पर्क न.:</strong> ०१-५७२११५६</li>
                        <li><strong>Email:</strong> adbea.central@adbl.gov.np</li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                        <a href="{% url 'home' %}">होमपेज</a>
                        <a href="#about">इतिहास</a>
                        <a href="#event">कार्यक्रम</a>
                        <a href="#gallery">फोटोहरु</a>
                        <a href="#">सम्पर्क</a>
                    </p>
                    <p class="footer-company-name">All Rights Reserved. © 2025 <a href="#">कृषि बिकास बैंक कर्मचारी संघ, नेपाल</a> </p>
                </div>

                <div class="footer-right">
                    <ul class="nav navbar-nav" style="margin: 0; padding: 0;">
                    <li>
                    <a href="{% static 'calendar.pdf' %}" class="btn btn-default btn-sm" target="_blank" style="margin-left: 10px;">
                Calendar - 2082
                    </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
	<!-- Camera Slider -->
	<script src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script> 
	<script src="{% static 'js/camera.min.js' %}"></script>
	<script src="{% static 'js/scrollIt.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.vide.js' %}"></script>
    {% block customjs %}{% endblock %}
</body>
</html>