{% extends "layout/base.html" %}
{% load static %}
{% block blog_active %}active{% endblock %}


{% block bodysection %}
<div class="container" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="event-detail">
        <h1>{{ event.title }}</h1>
        <div class="meta">
            <span><i class="fa fa-calendar"></i> {{ event.start_datetime|date:"F d, Y" }}</span>
            <span><i class="fa fa-clock-o"></i> {{ event.start_datetime|time }} - {{ event.end_datetime|time }}</span>
            <span><i class="fa fa-map-marker"></i> {{ event.location }}</span>
        </div>
        <img src="{{ event.image.url }}" class="img-responsive" alt="{{ event.title }}">
        <div class="content">
            {{ event.description|safe }}
        </div>
        {% if event.registration_link %}
        <a href="{{ event.registration_link }}" class="btn btn-light btn-radius btn-brd grd1">Register Now</a>
        {% endif %}
        <a href="{% url 'home' %}#event" class="btn btn-light btn-radius btn-brd grd1">Back to Events</a>
    </div>
</div>
{% endblock %}

