{% extends "layout/base.html" %}
{% load static %}
{% block home_active %}active{% endblock %}

{% block bodysection %}

<div id="main-banner" class="banner-one" data-scroll-index="0">
    {% for slider in slider_images %}
    <div data-src="{{ slider.image.url }}">
        <div class="camera_caption">
            <div class="container">
                <h1 class="wow fadeInUp animated">{{ slider.title }}</h1>
                {% if slider.description %}
                <p class="wow fadeInUp animated" data-wow-delay="0.2s">{{ slider.description }}</p>
                {% endif %}
                <a data-scroll href="#about" class="btn btn-light btn-radius btn-brd grd1">थप जानकरी लिनुहोस् !!</a>
            </div> <!-- /.container -->
        </div> <!-- /.camera_caption -->
    </div>
    {% endfor %}
</div> <!-- /#theme-main-banner -->

<!-- Welcome Section -->
<div id="about" data-scroll-index="1" class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h>{{ welcome_content.title }}</h2>
                    <blockquote class="lead">{{ welcome_content.slogan }}</blockquote>
                    {% if description_word_count >= 100 %}
                    {{ welcome_content.description|truncatewords:50|safe }}</p></div>
                    {% else %}
                        {{ welcome_content.description|safe }}
                    {% endif %}
                    <a href="{% url 'org_detail' welcome_content.id %}" data-scroll class="btn btn-light btn-radius btn-brd grd1">Learn More</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="post-media wow fadeIn">
                    <img src="{{ welcome_content.image.url }}" alt="" class="img-responsive img-rounded">
                    {% if welcome_content.video_link %}
                    <a href="{{ welcome_content.video_link }}" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr class="hr1">

        <!-- Secondary Welcome Content -->
        <div class="row text-center">
            {% for content in secondary_welcome_contents %}  <!-- Changed variable name -->
            <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="service-widget">
                    <div class="post-media_pp wow fadeIn">
                        <a href="{% url 'org_detail' content.id %}" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                        <img src="{{ content.image.url }}" alt="" class="img-responsive">
                        <div class="hover-up">
                            <h3>{{ content.title }}</h3>
                            <p>{{ content.description|safe|truncatewords:20 }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section nopad">
    <img src="{% static 'uploads/parallax.jpg' %}" alt="" class="img-responsive">
</div>

<!--

<div id="issues" data-scroll-index="2" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>समस्या तथा योजनाहरु</h3>
            <p class="lead">बिशुद्ध पेशागत हकहितका लागि कर्मचारी एकता , पारदर्शी र गतिशिल ब्यवस्थापन आजकाे आवस्यकता।</p>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="issuse-wrap2 clearfix">
                    <a href="{% url 'plan_detail' featured_issue.id %}">
                    <img src="{{ featured_issue.image.url }}" alt="" class="img-responsive img-rounded">
                    <h4>"{{ featured_issue.title }}"</h4>
                </a>
                    <p>{{ featured_issue.description|safe|truncatewords:100 }}</p>
                
                </div>
            </div>
            
            <div class="col-md-7">
                {% for issue in issues %}
                <div class="issuse-wrap clearfix">
                    <a href="{% url 'plan_detail' issue.id %}" >
                        <img src="{{ issue.image.url }}" alt="" class="img-responsive img-rounded alignleft">
                   
                    
                    <h4>{{ issue.get_issue_type_display|upper }}</h4>
                    <p>{{ issue.description|safe|truncatewords:20 }}</p>
                </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
-->
<div id="event" data-scroll-index="3" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>कार्यक्रम</h3>
            <p class="lead">बिशुद्ध पेशागत हकहितका लागि कर्मचारी एकता , पारदर्शी र गतिशिल ब्यवस्थापन आजकाे आवस्यकता !!</p>
        </div><!-- end title -->

        <div class="row">
            {% for event in events %}
            <div class="col-md-4">
                <div class="participate-wrap">
                    <small>{{ event.get_category_display }}</small>
                    <figure>
                        <img src="#" alt="" class="img-responsive">
                        <figcaption><a href="{% url 'event_detail' event.id %}" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
                    </figure>
                    <div class="event_dit">
                        <h4>{{ event.title }}</h4>
                        <ul>
                            <li><a href="{% url 'event_detail' event.id %}"><i class="fa fa-calendar"></i> {{ event.start_datetime|date:"d-m-Y" }}</a></li>
                            <li><a href="{% url 'event_detail' event.id %}"><i class="fa fa-clock-o"></i> {{ event.start_datetime }} to {{ event.end_datetime }}</a></li>
                            <li><a href="{% url 'event_detail' event.id %}"><i class="fa fa-map-marker"></i> {{ event.location }}</a></li>
                            
                        </ul>
                        <p>{{ event.description|safe|truncatewords:5 }}
                            
                        </p>             
                        <!-- <a href="{% url 'event_detail' event.id %}" class="btn btn-light btn-radius btn-brd grd1">Details</Det></a>-->
                       
                    </div>
                </div><!-- end participate -->
            </div><!-- end col -->
            {% endfor %}
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="gallery" data-scroll-index="4" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Gallery</h3>
            <p class="lead">हाम्रो अविस्मरणीय क्षणहरूको संग्रह</p>
        </div><!-- end title -->
        
        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="active" data-filter="*">All</button>
                    {% for category in gallery_categories %}
                    <button data-filter=".gal_{{ category }}">{{ category|title }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="gallery-list row">
            {% for gallery in gallery_posts %}
            <div class="col-md-4 col-sm-6 gallery-grid gal_{{ gallery.tag }}">
                <div class="participate-wrap">
                    <figure>  
                    <img src="{{ gallery.thumbnail.url }}" class="img-responsive" alt="Image">
                    <figcaption><a href="{% url 'gallery_detail' gallery.id %}" class="global-radius"> <i class="flaticon-unlink"></i> </a></figcaption>
                    </figure>
                 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--
<div id="media" data-scroll-index="5" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3> भिडियो </h3>
            <p class="lead">हाम्रो नयाँ भिडियोहरू र अपडेटहरू हेर्नुहोस्।</p>
        </div>

        <div class="row">
            {% for video in video_posts %}
            <div class="col-md-4">
                <div class="issuse-wrap2 clearfix">
                    <div class="post-media wow fadeIn">
                        <img src="{{ video.image.url }}" alt="" class="img-responsive img-rounded">
                        {% if video.video_link %}
                        <a href="{{ video.video_link }}" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                        {% endif %}
                    </div>
                    <h4>{{ video.title }}</h4>
                    <p>{{ video.description|truncatewords:20 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
-->
<!--
<div id="blog" data-scroll-index="6" class="section lb">
    <div class="container">
        <div class="section-title text-center">
            <span>नयाँ समाचार तथा</span>
            <h3>लेखहरू</h3>
            <p class="lead">हाम्रा नयाँ समाचार र लेखहरूसँग सधैं अपडेट रहनुहोस्।</p>
        </div>
        
        <div class="row">
            {% for post in blog_posts %}
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        
                        <img src="{{ post.image.url }}" class="img-responsive" alt="post-img" />
                        <div class="date">
                            <span>{{ post.date|date:"d" }}</span>
                            <span>{{ post.date|date:"M" }}</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <a href="{% url 'blog_detail' post.id %}">
                        <h4>{{ post.title }}</h4>
                        </a>
                        <ul>
                            <li>by {{ post.author }}</li>
                            <li>{{ post.date|date:"M d, Y" }}</li>
                            <li><a href="{% url 'blog_detail' post.id %}"><b> Learn more</b></a></li>
                        </ul>
                        <p>{{ post.description|safe|truncatewords:13 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
-->

{% endblock %}